@import '/node_modules/@swimlane/ngx-datatable/release/index.css';
@import '/node_modules/@swimlane/ngx-datatable/release/material.css';
@import '/node_modules/@swimlane/ngx-datatable/release/assets/icons.css';
.inventarliste-zeile {
  border-radius: 0.3em;
  margin: 0.5em;
  padding: 1em;
}

.inventarliste-bild {
  border-radius: 0.3em;
}
