<md-card>
  <md-card-content>
    <md-grid-list cols="2">
      <md-grid-tile>
        <form (ngSubmit)="onSubmit()" #artikelForm="ngForm" style="width: 100%">
          <p>
            <md-input-container floatPlaceholder="auto" style="width: 90%;">
              <input mdInput placeholder="Bezeichnung" id="name" required [(ngModel)]="artikel.name" name="name" #name="ngModel">
            </md-input-container>
          </p>
          <p>
            <md-select style="width: 90%;" placeholder="Kategorie" [(ngModel)]="artikel.kategorie" name="kategorie" #kategorie="ngModel">
              <md-option *ngFor="let kat of kategorien" [value]="kat">
                {{ kat }}
              </md-option>
            </md-select>
          </p>
          <p>
            <md-input-container>
              <input mdInput placeholder="Einstandspreis" type="number" id="einstandspreis" [(ngModel)]="artikel.einstandspreis" name="einstandspreis"
                #einstandspreis="ngModel">
            </md-input-container>
          </p>
          <p>
            <md-input-container>
              <input mdInput placeholder="Verkaufspreis" type="number" class="form-control" id="verkaufspreis" [(ngModel)]="artikel.verkaufspreis"
                name="verkaufspreis" #verkaufspreis="ngModel">
            </md-input-container>
          </p>
        </form>
      </md-grid-tile>
      <md-grid-tile>
        <img md-card-image src="{{artikel.imagePath}}">
      </md-grid-tile>
    </md-grid-list>
  </md-card-content>
  <md-card-actions>
    <button raised-button (click)="previous()"><md-icon>arrow_back</md-icon></button>
    <button raised-button (click)="next()"><md-icon>arrow_forward</md-icon></button>
    <button raised-button [routerLink]="['/']" [queryParams]="artikelChangedQueryParam()"><md-icon>view_list</md-icon></button>
    <button raised-button (click)="onSubmit()" [disabled]="!artikelForm.form.valid"><md-icon>check</md-icon></button>
    <button raised-button (click)="delete()"><md-icon>delete</md-icon></button>
  </md-card-actions>
</md-card>
