@import '/node_modules/@swimlane/ngx-datatable/release/index.css';
@import '/node_modules/@swimlane/ngx-datatable/release/themes/material.css';
@import '/node_modules/@swimlane/ngx-datatable/release/assets/icons.css';
@import '/node_modules/@angular/material/prebuilt-themes/purple-green.css';
.box {
  height: 100%;
  width: 100%;
  font-size: 2em;
  text-align: center;
  padding-top: 50%;
  margin-left: 5px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.fixed-top-nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  padding: 24px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

figure {
  margin: 0;
}

figure.einzel {
  display: inline-block;
  padding: 0.5%;
  width: 21.8%;
  border: 1px solid gainsboro;
  font-size: small;
  margin: 0.5%;
}

.kategorie {
  border-style: solid;
  padding: 1%;
  border-color: gainsboro;
  margin-bottom: 2em;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

figure img {
  width: 100%;
}

@media only screen {
  a,
  h2,
  h3 {
    color: gainsboro;
    text-decoration: none;
  }
}

@media only screen and (max-width:800px) {
  figure.einzel {
    width: 45%;
  }
}

@media only screen and (max-width:600px) {
  figure.einzel {
    width: 96%;
  }
}

@media print {
  .mat-toolbar-row,
  .noPrint,
  .fixed-top-nav,
  #md-menu {
    display: none !important;
  }
  figure.einzel {
    width: 4.3cm !important;
  }
  figcaption {
    font-size: 6pt !important;
  }
  a {
    color: black;
    text-decoration: none;
  }
  .kategorie {
    margin-top: 0.5cm;
    page-break-after: always;
  }
}
