<div *ngIf="loaded">
  <div class="kategorie" *ngFor="let kategorie of kategorien">
    <figure>
      <h2>
        {{kategorie.name}}
      </h2>
      <div *ngFor="let chunk of kategorie.chunks">
        <figure class="einzel" *ngFor="let artikel of chunk">
          <a routerLink={{artikel._id}}>
            <img src="{{artikel.imagePath}}">
            <figcaption class="einzel">{{artikel.name}} <br> EP: {{artikel.einstandspreis}} - VP: {{artikel.verkaufspreis}}</figcaption>
          </a>
        </figure>
      </div>
    </figure>
    <h3>
      Total EP: {{kategorie.totalEP}} / Total VP: {{kategorie.totalVP}}
    </h3>
  </div>
</div>
<md-card *ngIf="!loaded">
  <md-card-subtitle>
    Die Daten werden geladen ...
  </md-card-subtitle>
  <md-progress-bar mode="indeterminate"></md-progress-bar>
</md-card>
