<md-card *ngIf="!loaded">
  <md-card-subtitle>
    Die Daten werden geladen ...
  </md-card-subtitle>
  <md-progress-bar mode="indeterminate"></md-progress-bar>
</md-card>
<md-card *ngIf="loaded">
  <md-card-content>
    <md-input-container style="width:100%;">
      <input mdInput placeholder="Suche nach Namen oder Kategorien" [mdAutocomplete]="auto" (blur)='updateFilter($event)'>
    </md-input-container>
    <md-autocomplete #auto="mdAutocomplete">
      <md-option *ngFor="let artikel of inventarliste | async" [value]="artikel.name">
        {{ artikel.name }}
      </md-option>
    </md-autocomplete>

    <ngx-datatable class="material" [rows]="rows" [columns]="columns" [headerHeight]="50" [rowHeight]="'auto'" [columnMode]="'flex'"
      [loadingIndicator]="!loaded">
      <ngx-datatable-column name="Name" [flexGrow]="5">
        <template let-row="row" let-value="value" ngx-datatable-cell-template>
          <md-card>
            <md-card-subtitle>
              {{row['name']}}
            </md-card-subtitle>
            <a routerLink="{{row['_id']}}">
              <img mdCard-image width="100%" src="{{row['imagePath']}}">
            </a>
          </md-card>
        </template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Kategorie" [flexGrow]="2">
        <template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Einstandspreis" [flexGrow]="2">
        <template let-value="value" ngx-datatable-cell-template>
          <div class="box">
            {{value}}
          </div>
        </template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Verkaufspreis" [flexGrow]="2">
        <template let-value="value" ngx-datatable-cell-template>
          <div class="box">{{value}}</div>
        </template>
      </ngx-datatable-column>
    </ngx-datatable>
  </md-card-content>
</md-card>
