<div class="container">
  <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" #artikelForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="artikel.name" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Bitte Namen eingeben
        </div>
      </div>
      <div class="form-group">
        <label for="kategorie">Kategorie</label>
        <select class="form-control" id="kategorie" required [(ngModel)]="artikel.kategorie" name="kategorie" #kategorie="ngModel">
          <option *ngFor="let kat of kategorien" [value]="kat">{{kat}}</option>
        </select>
        <div [hidden]="kategorie.valid || kategorie.pristine" class="alert alert-danger">
          Bitte Kategegorie eingeben
        </div>
      </div>
      <div class="form-group">
        <label for="einstandspreis">Einstandspreis</label>
        <input type="number" class="form-control" id="einstandspreis" [(ngModel)]="artikel.einstandspreis" name="einstandspreis"
          #einstandspreis="ngModel">
      </div>
      <div class="form-group">
        <label for="verkaufspreis">Verkaufspreis</label>
        <input type="number" class="form-control" id="verkaufspreis" [(ngModel)]="artikel.verkaufspreis" name="verkaufspreis" #verkaufspreis="ngModel">
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!artikelForm.form.valid">Speichern</button>
      <button (click)="previous()" class="btn">Zurück</button>
      <button (click)="next()" class="btn">Vorwärts</button>
    </form>
  </div>
  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9  pull-left">{{ artikel.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Kategorie</div>
      <div class="col-xs-9 pull-left">{{ artikel.kategorie }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Einstandpreis</div>
      <div class="col-xs-9 pull-left">{{ artikel.einstandspreis }}</div>
    </div>
    <br> {{diagnostic}}
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>
