<div *ngIf="loaded">
  <form name="kategorieSearch" class="searchBox">
    <md-select name="kategorieCombo" [(ngModel)]="selectedValue" (change)="kategorieChange()" color="accent" multiple="true"
      style="width: 100%" placeholder="Kategorie" floatPlaceholder="never">
      <md-option *ngFor="let kategorie of kategorieComboListe" [value]="kategorie.name">{{ kategorie.name }}
      </md-option>
    </md-select>
  </form>
  <div class="gruppe" *ngFor="let kategorie of kategorien">
    <figure>
      <h2>
        {{kategorie.name}}
      </h2>
      <div *ngFor="let chunk of kategorie.chunks">
        <figure class="einzel" *ngFor="let artikel of chunk">
          <a routerLink={{artikel._id}}>
            <img src="{{artikel.imagePath}}">
            <figcaption class="einzel">{{artikel.name}} <br> EP: {{artikel.einstandspreis}} - VP: {{artikel.verkaufspreis}}</figcaption>
          </a>
        </figure>
      </div>
    </figure>
    <h3> Total EP: {{kategorie.totalEP}} / Total VP: {{kategorie.totalVP}} / Anzahl: {{kategorie.totalCount}} </h3>
  </div>
  <table class="gruppe rekap">
    <caption>
      Gesamttotal
    </caption>
    <tr>
      <th>Kategorie</th>
      <th>Einstandspreis</th>
      <th>Verkaufspreis</th>
      <th>Anzahl</th>
    </tr>
    <tr *ngFor="let kategorie of kategorien">
      <td>{{kategorie.name}}</td>
      <td>{{kategorie.totalEP}}</td>
      <td>{{kategorie.totalVP}}</td>
      <td>{{kategorie.totalCount}}</td>
    </tr>
    <tr>
      <td>Alle Kategorien</td>
      <td>{{totalEp}}</td>
      <td>{{totalVp}}</td>
      <td>{{totalCount}}</td>
    </tr>
  </table>
</div>


<md-card *ngIf="!loaded">
  <md-card-subtitle>
    Die Daten werden geladen ...
  </md-card-subtitle>
  <md-progress-bar mode="indeterminate"></md-progress-bar>
</md-card>